<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="col">
        EVALUA-TIC
          </ion-title>
    <ion-button (click)="OnLogout()" color="dark" slot="end">
        <ion-icon  name="exit"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="success">
  <ion-card class="bg">
      <ion-card-header class="titulo">
          <ion-card-title>Lista de Preguntas</ion-card-title>
        </ion-card-header>
  </ion-card>
    <ion-card color="success">
    <ion-item-sliding *ngFor="let poo of poos">
        <ion-item  class="bg" lines="inset" button [routerLink]="['/details-preguntas', poo.id]">
          <ion-label >
            {{ poo.pregunta }}
          </ion-label>
        </ion-item>
      </ion-item-sliding>

      </ion-card>
<br>       
      <ion-button color="warning"  routerLink="/details-preguntas" expand="block" >Nueva Pregunta</ion-button>

</ion-content>
