<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil del Profesor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding >
    <img class="icon"  src="assets/icon/perfil.png" alt="">

  <ion-item *ngIf="todo">
    <ion-label position="floating" > Nombre completo</ion-label>
    <ion-input type="text" [(ngModel)]="todo.nombreC" name="nombreC"></ion-input>
  </ion-item>
<ion-item *ngIf="todo">
  <ion-label position="floating" >Titulado en:</ion-label>
  <ion-input type="text" [(ngModel)]="todo.titulo" name="titulo"></ion-input>
</ion-item>
<ion-item *ngIf="todo">
  <ion-label position="floating" > Materias Inpartidas</ion-label>
  <ion-input [(ngModel)]="todo.materiasIn" type="text" name="materiasIn"></ion-input>
</ion-item>
<ion-item *ngIf="todo">
    <ion-label position="floating" > Matricula</ion-label>
    <ion-input type="matricula" [(ngModel)]="todo.matricula" name="matricula"></ion-input>
  </ion-item>
  <ion-item *ngIf="todo">
    <ion-label position="floating" > correo electronico</ion-label>
    <ion-input type="text" [(ngModel)]="todo.correo" name="correo"></ion-input>
  </ion-item>

<br>
<ion-button  routerLink="/list" expand="block" (click)="saveTodo()">Guardar</ion-button>
</ion-content>
 