
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.alineacion{
    text-align: center;
    font-family: "Homer Simpson", cursive;
     
}
.titulo{
    text-align: center;
    color: rgb(23, 24, 23);
    font-family: fantasy; 
    font-size: 150%;

}
.col{
    color: darkorange;
    font-family: fantasy; 
}
.bg-boton{
    color: darkorange;
}

.bg{
    
    background: linear-gradient(to left, #dae1d8 0%, #dae1d8 100%);

}

