<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  class="col">
        EVALUA-TIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success"
 id="alumnos" padding  *ngFor="let alumno of alumnos; index as i">
 <ion-card class="bg">   
    <ion-card-header>
        <ion-card-title  class="titulo">PROFESOR</ion-card-title>
      </ion-card-header>
 <img class="icon"  src="assets/icon/perfil.png" alt="">
 
    <br>
    <br>
    <ion-row class="alineacion">
        <ion-col>
            {{alumno.nombreC}}
            </ion-col>
      </ion-row>
      <br>
    <ion-row class="alineacion">
        <ion-col>
            {{alumno.materiasIn}} 
        
            </ion-col>
      </ion-row>
      <br>
      <ion-row class="alineacion">
          <ion-col>
              {{alumno.matricula}}        
              </ion-col>
        </ion-row>
        <br>
        <ion-row class="alineacion">
            <ion-col>
                {{alumno.correo}}          
                </ion-col>
          </ion-row>
          <br>
          <ion-row class="alineacion">
              <ion-col>
                  {{alumno.titulo}}
                </ion-col>
            </ion-row>
            <br>

    
</ion-card>
<ion-button [routerLink]="['/registro', alumno.id]" color="warning" expand="block">
  Perfil
</ion-button>
</ion-content>
 

