<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="col">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding color="success">  
    <img class="icon"  src="assets/icon/ut.png" alt="">
  <img class="icon"  src="assets/icon/perfil.png" alt="">
  <br>
  <br>
  <br>

<ion-item color="medium">
  <ion-label position="floating" > Correo electrónico</ion-label>
  <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
</ion-item>
<ion-item color="medium">
  <ion-label  position="floating" > Contraseña</ion-label>
  <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
</ion-item>
<br>
<ion-button (click)="onSubmitLogin()" color="warning" expand="block">Entrar</ion-button>

</ion-content>
