.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.col{
    color: darkorange;
    font-family: fantasy; 
    text-align: center;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}