<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Evalua-TIC
    </ion-title>
    <ion-button (click)="OnLogout()" color="dark" slot="end">
        <ion-icon  name="exit"></ion-icon>
      </ion-button>
    </ion-toolbar>
    
</ion-header>

<ion-content>
 
<ion-card>
    <ion-card-header class="texto">
        <ion-card-subtitle>Universidad Tecnologica de Tecamachalco</ion-card-subtitle>
        <ion-card-title>Examenes Disponobles</ion-card-title>
      </ion-card-header>
  <ion-item href="#" class="activated">
    <ion-label>Desarrollo de Aplicaciones 2</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-label>Ingenieria de Software</ion-label>
  </ion-item>

  <ion-item class="activated">
    <ion-label>Administracion de Proyectos</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Calidad de Software</ion-label>
  </ion-item>
</ion-card>
</ion-content>

